@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

*{
    font-family: 'Permanent Marker', cursive;
}

.newtxt{
    font-family: 'Lexend', sans-serif;
}

.btn:active{
    transform: scale(0.9);
}